.variable-width {
  width: 100%;
}
.slider2 {
  width: 50rem;
  height: 30rem;
  margin: 0 15px;
}
.slider2-img1 {
  background: url(../img/07022021-7U6A3320.jpg) center no-repeat;
  background-size: cover;
}
.slider2-img2 {
  background: url(../img/07022021-7U6A3373.jpg) center no-repeat;
  background-size: cover;
}
.slider2-img3 {
  background: url(../img/07022021-7U6A3330.jpg) center no-repeat;
  background-size: cover;
}
.prev {
  img {
    height: 4rem;
    position: relative;
  }
}
.next {
  img {
    height: 4rem;
  }
}
// Slideshow1
.single-item {
  width: 100%;
}
.slider1 {
  width: 90%;
  height: 65rem;
  //   margin: 0 15px;
}
.slider1-img1 {
  background: url(../img/IMG20210703115841.jpg) center no-repeat;
  background-size: cover;
}
.slider1-img2 {
  background: url(../img/alex-lvrs-aX_ljOOyWJY-unsplash.jpg) center no-repeat;
  background-size: cover;
}
.slider1-img3 {
  background: url(../img/priscilla-du-preez-W8F9kM7F-5U-unsplash.jpg) center
    no-repeat;
  background-size: cover;
}
