@import "reset";
@import "base";
@import "media-queries";
@import "animation";

header {
  .logo {
    text-align: center;
    img {
      max-height: 24rem;
    }
  }
}
.nav {
  ul {
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    li {
      flex: 1;
      a {
        color: var(--primary);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
          max-height: 5rem;
          margin: 0.2rem;
        }
      }
      :hover {
        color: var(--text);
      }
    }
  }
}
.proposition {
  display: flex;
  flex-flow: row nowrap;
  padding: 2rem 2rem;
  img {
    flex-grow: 1;
    object-fit: contain;
    max-height: 25rem;
  }
}
.banner {
  img {
    object-fit: fill;
    height: 40rem;
    width: 100%;
    object-fit: cover;
  }
}
.presentation {
  display: flex;
  flex-flow: row nowrap;
  max-height: 50rem;
  word-wrap: break-word;
  .she {
    flex: 1;
    img {
      height: 100%;
      padding: 4rem 5rem;
      object-fit: cover;
    }
  }
  .she-text {
    flex: 1;
    padding: 8rem 8rem;
    text-align: center;
    p {
    }
  }
}
// slideshow2
.slideshow2 {
  position: relative;
}
.prev {
  position: absolute;
  top: 15rem;
  left: 0rem;
}
.next {
  position: absolute;
  top: 15rem;
  right: 0rem;
}
